.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.status__btn {
    width: 30%;
    height: 45px;
    cursor: pointer;
    vertical-align: middle;
    display: inline-block;
    border-radius: 25px;
    border: none;
    text-align: center;
    margin: 20px 0;
    background-color: #008A59;
    box-shadow: 0px 14px 56px -11px #008A59;
    transition: all 0.4s;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 700;
}

.status__btn:hover {
    opacity: 1;
    color: #B6D0E4;
    transform: scale(0.9);
    transition: all 0.5s;
  }
  .status__btn:active {
    opacity: 0.5;    
    transform: scale(1);
    transition: transform 0.5s;
  }



.status__btn--active {
    opacity: 1;
    color: #B6D0E4;
}


@media (min-width: 1300px) {
    .status__btn {
        width: 25%;
        height: 60px;
        margin: 30px 0 50px;
    }
   
}