.item {
    height: 65px;
    margin-bottom: 10px;
    padding: 5px 15px;    
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    font-size: 30px;
    line-height: 38px;
}

.item__name {
   cursor: pointer;
   user-select: none; 
   
}

.item__name--done {
    text-decoration: line-through;
}

.item__name--imp {
    font-weight: 800;
    color: red;
}

.item__text {
 display: flex;
    align-items: center
}

.item__wrapper {
    display: flex;
}


.item__icon {
    width: 40px;
    height: 90%;
    cursor: pointer;
    margin-left: 5px;
    border: 2px solid #000;
}

