.item {
    min-height: 65px;
    margin-bottom: 10px;    
    padding: 5px;    
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    line-height: 38px;
}

.item__name {
   cursor: pointer;
   user-select: none; 
   display: inline-block;
   width: 100%;
   font-weight: 500;
}

.item__name--done {
    text-decoration: line-through;
}

.item__name--imp {
    font-weight: 700;
    color: #41C08C;
}

.item__text {
 display: flex;
    align-items: center;
    width: 68%;
    overflow-wrap: break-word;
}

.item__wrapper {
    display: flex;
}


.item__icon {
    display: flex;
    width: 40px;
    height: 90%;
    cursor: pointer;
    margin-left: 5px;
}


.item__icon-intro {
    margin: auto;
}
