.time {
    font-size: 20px;
    position: relative;
    font-size: 22px;
}

.time__line {
    display: block;
    position: absolute;
    right: 0;
    top: -80px;
}

.time__line--first {
    top: -50px;
}

@media (min-width: 1300px) {

    .time {
        font-size: 28px;

    }

    .time__line {
        right: -170px;
        top: -225px;
    }

    .time__line--first {
        top: -190px;
    }
}